@import "../../assets/scss/breakpoints";

.l-nav {
  width: var(--nav-width);
  position: fixed;
  top: 0;
  left: calc(var(--nav-width) * -1);
  transition: .5s;
  z-index: 40;

  @include sm() {
    width: var(--nav-width-sm);
    left: calc(var(--nav-width-sm) * -1);
  }
}

.nav-show {
  left: 0;
}

.pushpin {
  transform: rotate(45deg);
  transition: transform 0.1s ease;
}

.pinned {
  transform: rotate(0deg);
}

.used-storage-bar {
  width: 100%;
  height: 6px;
  border-radius: 5px;
  background-color: white;
  opacity: 80%;
}