@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/breakpoints";

body {
  position: relative;
  transition: .5s;
  font-weight: 300;
  letter-spacing: 0.5px;
  button, input, textarea {
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  p, span {
    overflow-wrap: anywhere;
  }
}

.main {
  min-width: 100vw;
  transition: .5s;
}

.main-pd {
  margin-left: var(--nav-width);

  @include sm() {
    margin-left: var(--nav-width-sm);
  }
  @include lg() {
    margin-left: 0;
    padding-left: var(--nav-width-sm);
  }
}


:root {
  --burnt-sienna: #66615B;
  --blue: #0075FF;
  --orange: #FF8F5D;
  --green: #79C29A;
  --red: #EB5E28;
  --creme: #F4F3EE;
  --greycreme: #e9e8e3;
  --lightgrey: #E6E6E6;
  --bordergrey: #D7D5CF;
  --lime: #D6E4A3;
  --yellow: #F3BB44;
  --toastify-color-info: var(--blue);
  --toastify-color-success: var(--green);
  --toastify-color-warning: var(--orange);
  --toastify-color-error: var(--red);
  --toastify-font-family: 'system-ui';
  --nav-width: 70vw;
  --nav-width-sm: 240px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.nav-link-active {
  font-weight: inherit;
  color: var(--orange);
}

.orange-outline-transition {
  outline: none;
  box-shadow: 0 0 0 1pt var(--bordergrey);
  transition: box-shadow 0.1s ease;

  &:focus-visible {
    box-shadow: 0 0 0 2pt var(--orange);
  }
}

.blue-outline-transition {
  outline: none;
  box-shadow: 0 0 0 1px var(--bordergrey);
  transition: box-shadow 0.1s ease;

  &:focus-visible {
    box-shadow: 0 0 0 2px var(--blue);
  }
}

.red-outline {
  outline: none;
  box-shadow: 0 0 0 2pt var(--red)
}

.button-transition {
  opacity: 0.8;
  transition: all 0.4s ease;

  &:hover {
    opacity: 1;
  }

  &:disabled,
  &[disabled]{
    background-color: var(--lightgrey);
    border-color: var(--lightgrey);
    color: var(--burnt-sienna);
    &:hover {
      opacity: 0.8;
    }
  }
}

.sinenna-button-transition {
  border: 2px solid var(--burnt-sienna);
  background-color: transparent;
  transition: all 0.2s ease;

  &:hover {
    color: white;
    background-color: var(--burnt-sienna);
  }
}

.settings-table {
  thead {
    th {
      padding: 15px 8px;
      &:last-child {
        text-align: end;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid var(--lightgrey);
      td {
        padding: 15px 8px;
      }
      .td-options {
        width: fit-content;
        margin: 0 0 0 auto;
        .option-button {
          margin: 0 5px;
          .icon {
            height: 1.2rem;
            width: 1.2rem;
          }
        }
      }
    }
  }
}

.form-section {
  padding: 0.5rem 1rem;

  label {
    display: inline-block;
    margin-bottom: 0;
  }
  input {
    margin-top: 5px;
  }
  .divider {
    position: relative;
    display: block;
    margin-bottom: 10px;
  
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: var(--lightgrey);
    }
  }
  .percent-char {
    text-align: end;
    input {
      text-align: right;
    }
    &::after {
      content: "%";
      margin-left: 14px;
    }
  }
}

.dropdown-content {
  width: 100%;

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 20px;
    text-align: left;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    &::before, &::after {
      content: "→";
      margin-right: 5px;
      visibility: hidden;
    }
    &:hover {
      background-color: var(--lightgrey);
    }
    &.active {
      &::before {
        visibility: visible;
      }
    }
  }
}

.basic-chip {
  border-radius: 2px;
  color: hsl(0, 0%, 20%);
  background-color: var(--lightgrey);
  font-size: 85%;
  overflow: hidden;
  padding: 2px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 4px
}


