@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./scss/breakpoints";

body {
  position: relative;
  transition: .5s;
}

.main {
  min-width: 100vw;
  transition: .5s;
}

.main-pd {
  margin-left: var(--nav-width);

  @include sm() {
    margin-left: var(--nav-width-sm);
  }
  @include lg() {
    margin-left: 0;
    padding-left: var(--nav-width-sm);
  }
}


:root {
  --toastify-color-info: #68B3C7;
  --toastify-color-success: #65c48f;
  --toastify-color-warning: #FF8F5D;
  --toastify-color-error: #EB5E28;
  --toastify-font-family: 'Nunito';
  --nav-width: 70vw;
  --nav-width-sm: 220px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.nav-link-active {
  font-weight: inherit;
  color: #D57C58;
}

.orange-outline-transition {
  outline: transparent solid 1px;
  transition: outline 0.2s ease;

  &:focus-visible {
    outline: solid 1px #FF8F5D;
  }
}

.blue-outline-transition {
  outline: #e9e8e3 solid 1px;
  transition: outline 0.2s ease;

  &:focus-visible {
    outline: solid 1px #68B3C7;
  }
}

.button-transition {
  opacity: 0.8;
  transition: all 0.4s ease;

  &:hover {
    opacity: 1;
  }

  &:disabled,
  &[disabled]{
    background-color: #cccccc;
    color: #666666;
    &:hover {
      opacity: 0.8;
    }
  }
}

.sinenna-button-transition {
  border: 2px solid #66615B;
  background-color: transparent;
  transition: all 0.2s ease;

  &:hover {
    color: white;
    background-color: #66615B;
  }
}

.settings-table {
  thead {
    th {
      padding: 15px 8px;
      &:last-child {
        text-align: end;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid lightgray;
      &:nth-child(odd) {
        background-color: #F4F3EE;
      }
      td {
        padding: 15px 8px;
      }
      .td-options {
        display: flex;
        width: fit-content;
        margin: 0 0 0 auto;
        .option-button {
          margin: 0 5px;
          .icon {
            height: 1.2rem;
            width: 1.2rem;
          }
        }
      }
    }
  }
}