.coffee-details-table tr:not(:last-child) {
  border-bottom: solid 1px #CCC5B9;
}

.coffee-details-table th {
  padding: 1rem 1rem 1rem 2rem;
}

.coffee-details-table td {
  padding: 1rem 2rem 1rem 1rem;
}