.confirm-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem;
  border-bottom: 1px dashed lightgray;
}

input[type='range']  {
  -webkit-appearance: none ;
  width:100%;
}
input[type='range']::-webkit-slider-runnable-track {
  -webkit-appearance: none ;
  appearance: none ;
  border-radius: 5px;
  background-color: var(--lightgrey);
  height: 2px;
  vertical-align:middle;
  border: none;
  cursor: pointer;
}
input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 100%;
  background-color: var(--lightpink);
  box-shadow: inset 0 0 0 1px var(--pink), inset 0 0 1px var(--pink), inset 0 0 0 1px var(--pink);
  height: 13px;
  width: 13px;
  vertical-align:middle;
  border: none;
  cursor: pointer;
  margin-top: -5px;
  transition: all 0.1s;
}
input[type='range']::-webkit-slider-thumb:hover { 
  margin-top: -7px;
  width: 16px;
  height: 16px;
}
input[type='range']:active::-webkit-slider-thumb { 
  margin-top: -7px;
  width: 16px;
  height: 16px;
}
input[type='range']::-moz-range-track{
  -moz-appearance: none ;
  border-radius: 5px;
  background-color: var(--lightgrey);
  height: 8px;
  vertical-align:middle;
  margin:0; padding:0;
  border: none;
  cursor: pointer; 
}
input[type='range']::-moz-range-thumb {
  -moz-appearance: none ;
  border-radius: 100%;
  background-color: var(--lime);
  box-shadow: inset 0 0 0 1px var(--pink), inset 0 0 1px var(--pink), inset 0 0 0 1px var(--pink);
  height: 14px;
  width: 14px;
  vertical-align:middle;
  border: none;
  cursor: pointer;
  margin-top: -6px;
}
input[type='range']::-moz-range-thumb:hover { 
  opacity: 0.7;
}
input[type='range']:active::-moz-range-thumb { 
  opacity: 0.7;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  border-width: 39px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #CCC;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #CCC;
  border: 0px solid #000101;
  border-radius: 50px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: inset 0 0 0 4px #CCC, inset 0 0 4px #CCC, inset 0 0 0 4px #CCC;
  border: 0px solid #000000;
  height: 22px;
  width: 22px;
  border-radius: 100%;
  background: var(--blue);
  cursor: pointer;
  margin-top: -2px;	
}