@import "/src/assets/scss/breakpoints";

.bg-circle {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -360px;
    right: -620px;
    height: 800px;
    width: 800px;
    z-index: -1;
    background: hsla(14, 90%, 73%, 1);
    background: linear-gradient(90deg, hsla(14, 90%, 73%, 1) 0%, hsla(331, 54%, 44%, 1) 100%);
    border-radius: 68% 32% 68% 32% / 29% 66% 34% 71%;

    @include sm() {
      top: -280px;
      right: -520px;
    }

    @include md() {
      top: -300px;
      right: -490px;
    }

    @include xl() {
      top: -200px;
      right: -300px;
    }
  }
}

.home-btn {
  font-size: 18px;
  color: #fff;
  padding: 12px 30px;
  display: block;
  border-radius: 4px;
  text-align: center;
  position: relative;
  z-index: 2;
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all .3s ease-out;
}
.home-btn:hover {
  transform: scale(0.95);
}
.home-btn::before {
  content: "";
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: -5px;
  z-index: -1;
  border-radius: 10px;
  opacity: .8;
  filter: blur(15px);
  transform-style: preserve-3d;
  transition: all .3s ease-out;
}
.home-btn:hover::before {
  bottom: 0;
  filter: blur(8px);
}

.start-trial-button,
.start-trial-button::before {
  background: #E96D71;
}

#dashboard-metrics {
  .image-section {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      bottom: 20px;
      right: 30px;
      left: 10px;
      z-index: -1;
      opacity: 0.4;
      background-image: url('../../assets/images/bg-dot-green.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#record-coffee-beans {
  .image-section {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -20px;
      width: 30%;
      height: 60%;
      z-index: -1;
      opacity: 0.4;
      background-image: url('../../assets/images/bg-dot-orange.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -30px;
      right: -20px;
      width: 30%;
      height: 60%;
      z-index: -1;
      opacity: 0.4;
      background-image: url('../../assets/images/bg-dot-orange.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#customize-range {
  .image-section {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      bottom: 0px;
      right: -20px;
      left: 0px;
      z-index: -1;
      opacity: 0.3;
      background-image: url('../../assets/images/bg-dot-blue.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#tasting-wheel {
  .image-section {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -40px;
      width: 30%;
      height: 70%;
      z-index: -1;
      opacity: 0.4;
      background-image: url('../../assets/images/bg-dot-green-sm.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      right: -50px;
      width: 30%;
      height: 70%;
      z-index: -1;
      opacity: 0.4;
      background-image: url('../../assets/images/bg-dot-green-sm.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#customers-voice {
  .quote {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 200px;
      height: 200px;
      z-index: -1;
      opacity: 0.7;
      background-image: url('../../assets/images/quotes.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

.child-border-bottom {
  section {    
    &:not(:last-child) {
      border-bottom: 1px solid rgb(102, 97, 91, 0.4);
      
    }
  }
}