@import "/src/assets/scss/breakpoints";

.bg-circle {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -245px;
    bottom: 0px;
    right: -645px;
    width: 800px;
    z-index: -1;
    background: hsla(14, 90%, 73%, 1);
    background: linear-gradient(90deg, hsla(14, 90%, 73%, 1) 0%, #ad346e 100%);
    border-radius: 68% 32% 68% 32% / 29% 66% 34% 71%;

    @include sm() {
      right: -520px;
    }

    @include md() {
      right: -490px;
    }

    @include lg() {
      width: 900px;
      left: 100px;
    }

    @include xl() {
      left: 200px;
      right: 0px;
    }

    @include xxl() {
    }
  }
}

.btn-transition {
  will-change: transform, filter;
  transform-style: preserve-3d;
  transition: all .3s ease-out;
}

.home-btn {
  font-size: 18px;
  color: #fff;
  padding: 20px 30px;
  display: block;
  border-radius: 30px;
  text-align: center;
  position: relative;
  z-index: 2;
}

.home-btn:hover, .signup-btn:hover {
  transform: scale(0.95);
}
.home-btn::before {
  content: "";
  height: 40px;
  display: inline-block;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: -5px;
  z-index: -1;
  border-radius: 10px;
  opacity: .8;
  filter: blur(15px);
  transform-style: preserve-3d;
  transition: all .3s ease-out;
}
.home-btn:hover::before {
  bottom: 0;
  filter: blur(8px);
}

.start-trial-button,
.start-trial-button::before {
  background: #E96D71;
}

#about-coffeasatock {
  position: relative;
  
  &::before {
    content: "";
    background-image: url(../../assets/images/blue-separator.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: block;
    position: absolute;
    top: -23.8%;
    left: -2%;
    right: -2%;
    height: 24%;
    z-index: -1;
  }

  .gradient-underline strong {
    background: linear-gradient(transparent 50%, #a8fffa 50%);
    padding-bottom: 3px;
  }
}

#scroll-down-arrow a {
  padding-top: 70px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  letter-spacing: .1em;
  text-decoration: none;
  text-align: center;
  transition: opacity .3s;
  &:hover {
    opacity: .5;
  }
}
#scroll-down-arrow a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid rgb(76, 74, 74);
  border-bottom: 1px solid rgb(76, 74, 74);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: scrollDown 1.5s infinite;
  animation: scrollDown 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes scrollDown {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes scrollDown {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}


#record-coffee {
  .bg-circle-green {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: -20px;
      height: 250px;
      width: 250px;
      background-color: var(--green);
      border-radius: 50%;
      z-index: -1;

      @include sm() {
        height: 400px;
        width: 400px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 40px;
      right: 0px;
      left: 40px;
      opacity: 0.5;
      background-image: url(../../assets/images/bg-dot-green.png);
      background-size: cover;
      z-index: -2;
    }
  }

  .bottom-line-green {
    &::after {
      content: "";
      display: block;
      width: 150px;
      height: 5px;
      margin: 30px auto 0 auto;
      background-color: var(--green);
    }
  }
}

#tasting-wheel {
  .bg-circle-pink {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      right: -30px;
      height: 250px;
      width: 250px;
      background-color: var(--pink);
      border-radius: 50%;
      z-index: -1;

      @include sm() {
        height: 400px;
        width: 400px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 40px;
      right: 40px;
      left: 0px;
      opacity: 0.5;
      background-image: url(../../assets/images/bg-dot-orange.png);
      background-size: cover;
      z-index: -2;
    }
  }

  .bottom-line-pink {
    &::after {
      content: "";
      display: block;
      width: 150px;
      height: 5px;
      margin: 30px auto 0 auto;
      background-color: var(--pink);
    }
  }
}

#dashboard-metrics {
  .bg-circle-blue {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      left: 5px;
      height: 250px;
      width: 250px;
      background-color: var(--ash-blue);
      border-radius: 50%;
      z-index: -1;

      @include sm() {
        height: 400px;
        width: 400px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: 0px;
      bottom: 40px;
      right: 0px;
      left: 40px;
      opacity: 0.5;
      background-image: url(../../assets/images/bg-dot-blue.png);
      background-size: cover;
      z-index: -2;
    }
  }

  .bottom-line-blue {
    &::after {
      content: "";
      display: block;
      width: 150px;
      height: 5px;
      margin: 30px auto 0 auto;
      background-color: var(--blue);
    }
  }
}



#compare-recipes {
  .bg-circle-orange {
    position: relative;

    &::before {
      content: "";
      position: absolute;
      bottom: 0px;
      right: -40px;
      height: 250px;
      width: 250px;
      background-color: var(--orange);
      border-radius: 50%;
      z-index: -1;

      @include sm() {
        height: 400px;
        width: 400px;
      }
    }
    &::after {
      content: "";
      position: absolute;
      top: -10px;
      bottom: 40px;
      right: 40px;
      left: -20px;
      opacity: 0.5;
      background-image: url(../../assets/images/bg-dot-orange.png);
      background-size: cover;
      z-index: -2;
    }
  }

  .bottom-line-orange {
    &::after {
      content: "";
      display: block;
      width: 150px;
      height: 5px;
      margin: 30px auto 0 auto;
      background-color: var(--orange);
    }
  }
}



#customers-voice {
  .quote {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      top: -20px;
      left: 0;
      width: 200px;
      height: 200px;
      z-index: -1;
      opacity: 0.7;
      background-image: url('../../assets/images/quotes.png');
      background-repeat: no-repeat;
      background-size: cover;
    }
  }
}

#faq {
  position: relative;
  
  &::before {
    content: "";
    background-image: url(../../assets/images/pink-separator.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    display: block;
    position: absolute;
    top: -62.8%;
    height: 63%;
    width: 100vw;
    z-index: -1;
  }
}

.child-border-bottom {
  section {    
    &:not(:last-child) {
      border-bottom: 1px solid rgb(102, 97, 91, 0.4);
      
    }
  }
}