@import "../../assets/scss/breakpoints";

.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;  
  background-color: var(--creme);
}

.button-section {
  display: none;
  @include sm() {
    display: flex;
  }
}

.header-pd {
  margin-left: calc(var(--nav-width) +  16px);

  @include sm() {
    margin-left: calc(var(--nav-width-sm) +  16px);
  }
  @include lg() {
    margin-left: 0;
    padding-left: calc(var(--nav-width-sm) +  16px);
  }
}
