@import "../../assets/scss/breakpoints";

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: .5s;  
}
.header-border {
  position: relative;
}

.button-section {
  display: none;
  @include sm() {
    display: flex;
  }
}

