@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets/scss/breakpoints";

html {
  overflow-x: hidden;
  position: relative;
}
body {
  overflow-x: hidden;
  box-sizing: border-box;
  transition: .5s;
  font-weight: 300;
  letter-spacing: 0.5px;
  button, input, textarea {
    font-weight: 300;
    letter-spacing: 0.5px;
  }
  p, span {
    overflow-wrap: anywhere;
  }
  strong {
    font-weight: 600;
  }
}

.main {
  min-width: 100vw;
  transition: .5s;
}

.main-pd {
  margin-left: var(--nav-width);

  @include sm() {
    margin-left: var(--nav-width-sm);
  }
  @include lg() {
    margin-left: 0;
    padding-left: var(--nav-width-sm);
  }
}

.header-top-pd {
  padding-top: var(--header-height);
}

:root {
  --burnt-sienna-darker: #484040;
  --burnt-sienna: #484040;
  --blue: #68B3C7;
  --ash-blue: #a8c8c8;
  --orange: #EA9470;
  --green: #93CCAC;
  --red: #EB5E28;
  --pink-red: #C65673;
  --pink: #e19193;
  --ash-pink: #E8C1B4;
  --lightpink: #FFE1E6;
  --creme: #F4F3EE;
  --lightcreme: #f8f7f4;
  --greycreme: #e9e8e3;
  --lightgrey: #E6E6E6;
  --bordergrey: #D7D5CF;
  --lime: #D6E4A3;
  --yellow: #F3BB44;
  --purple: #9a92c4;
  --toastify-color-info: var(--blue);
  --toastify-color-success: var(--green);
  --toastify-color-warning: var(--orange);
  --toastify-color-error: var(--red);
  --toastify-font-family: 'system-ui';
  --nav-width: 70vw;
  --nav-width-negative: -70vw;
  --nav-width-sm: 240px;
  --nav-width-sm-negative: -240px;
  --header-height: 60px;
}

::-webkit-scrollbar {
  background: transparent;
  width: 7px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 100px;
}

::-webkit-scrollbar-thumb {
  background-color: #d4aa70;
  border-radius: 100px;
}

.spinner {
  animation: spin infinite 0.5s linear;
}

@keyframes spin {
from {
  transform: rotate(0deg);
}
to {
  transform: rotate(360deg);
}
}

.nav-link-active {
  font-weight: inherit;
  color: var(--orange);
}

.orange-outline-transition {
  outline: none;
  box-shadow: 0 0 0 1pt var(--bordergrey);
  transition: box-shadow 0.1s ease;

  &:focus-visible {
    box-shadow: 0 0 0 2pt var(--orange);
  }
}

.blue-outline-transition {
  outline: none;
  box-shadow: 0 0 0 1px var(--bordergrey);
  transition: box-shadow 0.1s ease;

  &:focus-visible {
    box-shadow: 0 0 0 1px var(--blue);
  }
}

.red-outline {
  outline: none;
  box-shadow: 0 0 0 2pt var(--red)
}

.button-transition {
  opacity: 0.8;
  transition: all 0.4s ease;

  &:hover {
    opacity: 1;
  }

  &:disabled,
  &[disabled]{
    background-color: var(--lightgrey);
    border-color: var(--lightgrey);
    color: var(--burnt-sienna);
    &:hover {
      opacity: 0.8;
    }
  }
}

.sinenna-button-transition {
  border: 2px solid var(--burnt-sienna);
  background-color: transparent;
  transition: all 0.2s ease;

  &:hover {
    color: white;
    background-color: var(--burnt-sienna);
  }
}

.settings-table {
  thead {
    th {
      padding: 15px 8px;
      &:last-child {
        text-align: end;
      }
    }
  }
  tbody {
    tr {
      border-top: 1px solid var(--lightgrey);
      td {
        padding: 15px 8px;
      }
      .td-options {
        width: fit-content;
        margin: 0 0 0 auto;
        .option-button {
          margin: 0 5px;
          .icon {
            height: 1.2rem;
            width: 1.2rem;
          }
        }
      }
    }
  }
}

.form-section {
  padding: 0.5rem 1rem;

  label {
    display: inline-block;
    margin-bottom: 0;
  }
  input {
    margin-top: 5px;
  }
  .divider {
    position: relative;
    display: block;
    margin-bottom: 10px;
  
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      right: 0;
      height: 1px;
      width: 100%;
      background-color: var(--lightgrey);
    }
  }
  .percent-char {
    text-align: end;
    input {
      text-align: right;
    }
    &::after {
      content: "%";
      margin-left: 14px;
    }
  }
}

.dropdown-content {
  width: 100%;

  .dropdown-item {
    display: block;
    width: 100%;
    padding: 5px 20px;
    text-align: left;
    white-space: nowrap;
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--lightgrey);
    }
    &.active {
      font-weight: bold;
    }
  }
}

.basic-chip {
  border-radius: 2px;
  color: hsl(0, 0%, 20%);
  background-color: var(--lightgrey);
  font-size: 85%;
  overflow: hidden;
  padding: 2px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
  margin: 4px
}

.pagination-section {
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    padding: 3px;
    margin: 0 5px;
  }

  .circle-button {
    background: white;
    height: 50px;
    width: 50px;
    border-radius: 50%;

    &:disabled,
    &[disabled]{
      background-color: var(--lightgrey);
      cursor: default;
    }
  }

  .loading {
    position: absolute;
    left: 60%;
  }
}

#terms, #privacy {
  article {
    margin-bottom: 30px;

    h2 {
      border-bottom: 1px solid var(--burnt-sienna);
    }
    h3 {
      font-size: 1.3rem;
      font-weight: 400;
      margin: 10px 0;
    }
    ol {
      padding-left: 25px;
    }
    p, ol.list-decimal li {
      padding-bottom: 20px;
    }
    ol.list-disc li {
      padding-bottom: 5px;

      &:last-child {
        padding-bottom: 20px;
      }
    }
  }
}